page-about {
    ul, ul li{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul li strong {
        padding-right: 1em;
    }
    ul li{
        margin-bottom: 0.7em;
    }
}
