page-cm {
    .location{
        font-size: 1.8em;
        margin: 0 auto;
        padding-right: 0.4em;
    }

    .btns{
        text-align: center;
        margin: 0 0.3em;
    }

    .btns p{
        font-size: 0.2em;
        color: #387ef5;
        margin: 0;
        padding: 0;
    }
    h2 {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
}
