page-home {
    .home-button{
        font-size: 2em; 
        height: 2em;
        margin-top: 0.5em;
    }
    .home-button p{
        width: 85%;
        font-size: 0.6em; 
    }

    .home-liet{
        width: 90%; 
        margin: 0 auto;
    }

    .center{
        text-align: center;
    }
}
